<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Documents</title>
  </head>
  <body>
    <p>Hello there,</p>
    <p>This is to notify you that following employees have not submitted the documents needed: </p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Documents List</th>
        </tr>
      </thead>

      <tbody>
        <%# @employee.each do |employee|%>
          <tr>
            <td><%= @employee.id %></td>
            <td><%= @employee.name %></td>
            <td>
              <ol>
                <% Document.where.not(id: @employee.documents.pluck(:id)).each do |doc| %>
                  <li><%= doc.document_name %></li>
                <% end %>         
              </ol>
            </td>        
          </tr>
        <%# end %>
      </tbody>
    </table>

    <p>Please collect them ASAP.</p>
    <p>Thanks</p>
  </body>
</html>
